# AWS CDK
cdk.out/
cdk.context.json

# cdk-diag
*.dot

# Byte-compiled / optimized / DLL
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Coverage.py
.coverage
coverage.xml
htmlcov/

# Environment
.venv/
node_modules/

# macOS
.DS_Store

# mypy
.mypy_cache/

# PyCharm
.idea/

# pyenv
.python-version
