# The directory Mix will write compiled artifacts to.
_build/

# If you run "mix test --cover", coverage assets end up here.
cover/

# The directory Mix downloads your dependencies sources to.
deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
doc/

# Ignore .fetch files in case you like to edit your project deps locally.
.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Developer tools
.git
.tool-versions

# Umbrella
apps/**/config/*.secret.exs
apps/**/node_modules
apps/**/priv/static

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Secrets
apps/*/priv/secrets/*
!apps/*/priv/secrets/.keep

# File types
tmp
erl_crash.dump
*.ez
